@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,400;1,700&display=swap');
 * {
     margin: 0;
     padding: 0;
     border: 0;
}
 body {
     font-family: 'Balsamiq Sans', sans-serif;
}
 body {
     background-image: linear-gradient(rgba(102, 101, 101, 0.7), rgba(102, 101, 101, 0.7)),url(../images/planet-earth.jpg);
     background-size: cover;
     background-position: center;
     height: auto;
     background-attachment: fixed;
}
 ul {
     list-style-type: none;
}
 h1 {
     font-size: 7em;
}

 #landing-page ul:hover{
     transform: scale(1.2);
 }
/***USED OFTEN***/
 h1, h2, h3 {
     color: #fffde7;
}
 .decoration {
     color: #fffde7;
     font-family: "Balsamiq Sans";
     letter-spacing: 4px;
}
/***BUTTONS***/
 .answer-btn {
     width: 60%;
     padding: 20px;
     border-radius: 20px;
     background-color:#90caf9;
     font-size: 1.25rem;
     line-height: 1.5;
     display: inline-block;
}
 .answer-btn:hover {
     background-color: orange;
     cursor: pointer;
}
 .answer-btn:focus {
     outline: 0;
}
 .green {
     background-color: green;
}
 .red {
     background-color: red;
}
/***QUIZ IMAGES***/
 .question .card img {
     height: 100%;
     width: 100%;
}
/***MEDIA QUERIES***/
@media screen and (max-width: 600px) {
  #landing-page ul:hover{
     transform: none;
}
   h1 {
       font-size: 4em;
   }
}
